doctype
head
    title='loggy'
    link(rel='stylesheet', href='/static/bootstrap.css')
    link(rel='stylesheet', href='/static/ui.css')
    script(src='/static/jquery.js')
    script(src='/static/bootstrap.js')
    script(src='/static/socket.io.js')
    script(src='/static/ui.js')
body
    .container
        .row
            h4=header
            .logs
                input.input-lg(type='search', placeholder='regexp or phrase').search
                table.table

